<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>レジスタンス：アヴァロン</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    このゲームは５～１０人用となっています。<br/>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span><br/>
      <div id='sec1' style='display:none'>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/><br/>
        <hr/>
      </div>
      <div id='sec2' style='display:none'>
        Game Status:<br/>
        <table border='1'>
          <tr>
            <td><span id='turn0_label'></span></td>
            <td><span id='turn1_label'></span></td>
            <td><span id='turn2_label'></span></td>
            <td><span id='turn3_label'></span></td>
            <td><span id='turn4_label'></span></td>
          </tr>
          <tr>
            <td><span id='turn0'></span></td>
            <td><span id='turn1'></span></td>
            <td><span id='turn2'></span></td>
            <td><span id='turn3'></span></td>
            <td><span id='turn4'></span></td>
          </tr>
        </table><br>
        <br>
        Your role:<span id='role'></span><br>
        <br>
        <div id='sec6' style='display:none'>
          <span id='evils'></span><br/>
        </div>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        Who do you appoint?:<br/>
        <select name='candidatelist[]' id='candidatelist' multiple></select><br/>
        <b>※複数選択するとき、Ctrlキーを押しながら複数選択してください。</b><br/>
        <button id="election">選出(election)</button><br/>
        上記から遠征に出すメンバーを選択して、「選出」ボタンを押してください。<br/>
        <br/>
        <button id="expedition">遠征判定(expedition)</button><br/>
        全員が判定結果を入力したことを確認して「遠征判定」ボタンを押してください。<br/>
        <br/>
        <button id="result">遠征結果(result)</button><br/>
        遠征に行ったメンバーが遠征結果を入力したことを確認して「遠征結果」ボタンを押してください。<br/>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        Will you approve these members for expedition?:<br/>
        <span id='candidatelists'></span><br/>
        <button id="approval">承認(approval)</button><br/>
        <button id="reject">却下(reject)</button><br/>
        <hr/>
      </div>
      <div id='sec5' style='display:none'>
        Will you choose which one?:<br/>
        <button id="successed">任務成功(complete)</button><br/>
        <button id="failed">任務失敗(failed)</button><br/>
        <hr/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>
  </body>
</html>
