<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>レジスタンス：アヴァロン</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    このゲームは５～１０人用となっています。<br/>
    <div id='app2'>
      <input id="cName_inp" placeholder="ニックネームを入力してください"><br/>
      <br/>
      <button id='createGame'>ゲームを作る(Make a Game)</button><br/>
      Game ID: <span id='gId'></span><br/>
      Game Status: <span id='gStatus'></span><br/>
      <hr/>
      <button id="joinGame">ゲームに参加する(Join the Game)</button><br/>
      <input id="gId_inp" placeholder="GameIDを入力してください"><br/>
      Your ID: <span id='cId'></span><br/>
      Your Name: <span id='cName'></span><br/>
      <hr/>
      <h2>Member Applying</h2>
      <span id='applyingList'></span><br/>
      <div id='sec1' style='display:none'>
        <button id="startGame">ゲームを始める(Let's start the Game)</button><br/><br/>
        <hr/>
      </div>
      <div id='sec2' style='display:none'>
        Game Status:<br/>
        <table border='1'>
          <tr>
            <td>turn 1</td>
            <td>turn 2</td>
            <td>turn 3</td>
            <td>turn 4</td>
            <td>turn 5</td>
          </tr>
          <tr>
            <td><span id='turn0'></span></td>
            <td><span id='turn1'></span></td>
            <td><span id='turn2'></span></td>
            <td><span id='turn3'></span></td>
            <td><span id='turn4'></span></td>
          </tr>
        </table><br>
        <br>
        Your role:<span id='role'></span><br>
        <br>
        <div id='sec6' style='display:none'>
          <span id='evils'></span><br/>
        </div>
        <hr/>
      </div>
      <div id='sec3' style='display:none'>
        Who do you appoint?:<br/>
        <select name='candidatelist[]' id='candidatelist' multiple></select><br/>
        <button id="election">選出(election)</button><br/>
        上記から遠征に出すメンバーを選択して、「選出」ボタンを押してください。<br/>
        <br/>
        <button id="expedition">遠征判定(expedition)</button><br/>
        全員が判定結果を入力したことを確認して「遠征判定」ボタンを押してください。<br/>
        <br/>
        <button id="result">遠征結果(result)</button><br/>
        遠征に行ったメンバーが遠征結果を入力したことを確認して「遠征結果」ボタンを押してください。<br/>
        <hr/>
      </div>
      <div id='sec4' style='display:none'>
        Will you approve these members for expedition?:<br/>
        <span id='candidatelists'></span><br/>
        <button id="approval">承認(approval)</button><br/>
        <button id="reject">却下(reject)</button><br/>
        <hr/>
      </div>
      <div id='sec5' style='display:none'>
        Will you choose which one?:<br/>
        <button id="successed">任務成功(complete)</button><br/>
        <button id="failed">任務失敗(failed)</button><br/>
        <hr/>
      </div>
      <br/>
      <span id='message'></span><br/>
    </div>

    <script>
    var timeout = 1000;
    var timer = '';

    $(function() {
      var gId = '';
      var cId = '';

      // Create Game
      $('#createGame').click(function() {
        $('#message').empty();
        $.ajax('create' + '/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#cName_inp').prop('readonly', true);
          $('#gId_inp').prop('readonly', true);
          $('#joinGame').prop('disabled', true);
          $('#createGame').prop('disabled', true);
          $('#gId').text(data);
          $('#cId').text(data);
          $('#cName').text($('#cName_inp').val());
          $('#gStatus').text('waiting');
          gId = data;
          cId = data;
          $('#sec1').show();
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Join Game
      $('#joinGame').click(function() {
        $('#message').empty();
        $.ajax($('#gId_inp').val() + '/join/' + $('#cName_inp').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#cName_inp').prop('readonly', true);
          $('#gId_inp').prop('readonly', true);
          $('#joinGame').prop('disabled', true);
          $('#createGame').prop('disabled', true);
          _tmp = data.split(' ,');
          $('#cId').text(_tmp[0]);
          $('#cName').text(_tmp[1]);
          $('#gStatus').text(_tmp[2]);
          gId = $('#gId_inp').val();
          cId = _tmp[0];
          timer = setTimeout(status_check(gId, cId), timeout)
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // Start Game
      $('#startGame').click(function() {
        $('#message').empty();
        $.ajax(gId + '/start',
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // election
      $('#election').click(function() {
        $('#message').empty();
        $.ajax(gId + '/choice/' + $('#candidatelist').val(),
          {
            type: 'get',
          }
        )
        .done(function(data) {
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // expedition
      $('#expedition').click(function() {
        $('#message').empty();
        $.ajax(gId + '/expedition',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          if(data == 'retry'){
            $('#sec3').css('display', 'none');
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // approval
      $('#approval').click(function() {
        $('#message').empty();
        $.ajax(gId + '/vote/0',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#approval').attr('disabled', true);
          $('#reject').attr('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // reject
      $('#reject').click(function() {
        $('#message').empty();
        $.ajax(gId + '/vote/1',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#approval').attr('disabled', true);
          $('#reject').attr('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // successed
      $('#successed').click(function() {
        $('#message').empty();
        $.ajax(gId + '/vote/0',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#successed').attr('disabled', true);
          $('#failed').attr('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // failed
      $('#failed').click(function() {
        $('#message').empty();
        $.ajax(gId + '/vote/1',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#successed').attr('disabled', true);
          $('#failed').attr('disabled', true);
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

      // result
      $('#result').click(function() {
        $('#message').empty();
        $.ajax(gId + '/successedorfailed',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          $('#sec3').css('display', 'none');
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
      });

    });

    var status_check = function(gId, cId){
      setTimeout(function(){
        $('#message').empty();
        // all status
        $.getJSON(gId + '/status',
          {
            type: 'get',
          }
        )
        .done(function(data) {
          console.log(data)
          $('#gStatus').text(data.status);
          playerPos = 0;
          // Applying List
          $('#applyingList').empty();
          for(var pIdx in data.players){
            // console.log(data.players[pIdx])
            $('#applyingList').append(data.players[pIdx].nickname + '(' + data.players[pIdx].playerid + ')' + ',');
            if(cId == data.players[pIdx].playerid){
              playerPos = pIdx;
            }
          }

          switch(data.status){
            case 'waiting':
              break;
            case 'started':
              $('#evils').empty();
              $('#approval').attr('disabled', false);
              $('#reject').attr('disabled', false);
              $('#successed').attr('disabled', false);
              $('#failed').attr('disabled', false);
              $('#sec4').css('display', 'none');
              $('#sec5').css('display', 'none');

              switch(data.players[playerPos].role){
                case 0:
                  $('#role').text('merlin');
                  $('#sec6').show();
                  break;
                case 1:
                  $('#role').text('assasin');
                  $('#sec6').show();
                  break;
                case 2:
                  $('#role').text('servants of Arthur');
                  break;
                case 3:
                  $('#role').text('servants of Mordred');
                  $('#sec6').show();
                  break;
              }
              $('#evils').text('Servants of Mordred members:');
              for(var mIdx in data.mordreds){
                $('#evils').append('<br/>' + data.mordreds[mIdx].nickname);
              }

              if(jQuery.trim($('#candidatelist').text()) == ''){
                for(var pIdx in data.players){
                  $('#candidatelist').append('<option value="'+data.players[pIdx].playerid+'">'+data.players[pIdx].nickname+'</option>');
                }
              }

              $('#sec2').show();

              if(data.routelist[data.routeidx].playerid == cId){
                $('#sec3').show();
              }

              // $('#turn' + 1).text('●');
              if(data.results.length > 0){
                for(var rIdx in data.results){
                  $('#turn' + rIdx).text('●');
                  if(data.results[rIdx] == 'successed'){
                    $('#turn' + rIdx).css("color","blue");
                  }else{
                    $('#turn' + rIdx).css("color","red");
                  }
                }
              }else{
                for(var rIdx; rIdx < 5; rIdx++){
                  $('#turn' + rIdx).empty();
                }
              }

              break;

            case 'candidate':
              $('#candidatelists').empty();
              for(var cIdx in data.selectedcandidates){
                $('#candidatelists').append(data.selectedcandidates[cIdx].nickname + '<br/>');
              }

              $('#sec4').show();
              break;

            case 'expedition':
              for(var cIdx in data.selectedcandidates){
                if(cId == data.selectedcandidates[cIdx].playerid){
                  $('#sec5').show();
                }
                if(data.players[playerPos].role % 2 == 0){
                  $('#failed').attr('disabled', true);
                }
              }
              break;
            case 'end':
              for(var rIdx in data.results){
                $('#turn' + rIdx).text('●');
                if(data.results[rIdx] == 'successed'){
                  $('#turn' + rIdx).css("color","blue");
                }else{
                  $('#turn' + rIdx).css("color","red");
                }
              }
              $('#sec6').show();
              break;
          }
        })
        .fail(function() {
          $('#message').text('エラーが発生しました');
        });
        timer = setTimeout(status_check(gId, cId), timeout)
      }, timeout);
    }

    </script>
  </body>
</html>
